/* variávis */
:root {
    --vermelho: #e50914;
    --preto: #141414;
}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Regras de CSS */
body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 0.3125rem;
    color: var(--vermelho);
    font-family: 'Arial Black', Arial;
    font-size: 2.5rem;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 0.625rem;
}

header nav a:hover {
    color: #fff;
}

/* filme principal */
.filme-principal {
    font-size: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.5) 100%),
        url('../img/capa-house.jpg');

    height: 25rem;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.titulo {
    margin-top: 1.25rem;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 0.9375rem;
    margin-right: 0.9375rem;
    font-size: 0.75rem;
    cursor: pointer;
    transition: 0.3s ease all;
}
.button:hover {
    background-color: white;
    color: black;
}
.button i {
    margin-right: 0.3125rem;
}

.button a {
    text-decoration: none;
    color: white;
}

.filme-principal .descricao {
    margin-bottom: 2.5rem;
    margin-top: 0.625rem;
}

.container {
    margin-left: 1.25rem;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    width: 100;
    height: 100%;
    display: block;
}

.carousel {
    margin-top: 0.3125rem;
}
